/*generales*/
.bg-negro {
    background-color: black;
}

hr {
    border: 1px solid;
    color: #0dcaf0;
}

.bg-azul {
    background-color: #0dcaf0;
}

i {
    font-size: 1.5rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

/*estilos navbar*/
#navbarNav {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#navegador {
    background: transparent !important;
    z-index: 99;
}

.icono {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff !important;
}

/*estilos carousel*/
#carouselExampleControls {
    margin-top: -62px;
}

/*contacto*/
.btn-azul {
    background-color: #0dcaf0;
}

#contacto {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}